<div class="container-fluid">
  <div class="row top">
    <div class="col-xs-10 col-md-5 left-panel">
      <h4 class="head-text">Peter Meehan - 13318031</h3>
      <h4 class="head-text">Node.js Proxy Managment Console</h3>
      <form name="newSiteForm" class="blacklist-input">
        <div class="input-group">

          <div class="input-group-btn">
            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">{{url.protocol}} <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li ng-click="url.protocol = 'http://'">http://</li>
              <li ng-click="url.protocol = 'https://'">https://</li>
            </ul>
          </div>

          <input type="text" class="form-control" ng-model="url.domain" placeholder="[www./___.]example.com" required>

          <span class="input-group-btn">
            <button type="button" class="btn btn-success" ng-click="addSite();" ng-disabled="newSiteForm.$invalid">add</button>
          </span>

        </div>
      </form>
      <div class="cacheToggle">
        <h4 class="left">Caching:</h4>
        <div class="left">
          <switch ng-model="caching" class="green"></switch>
        </div>
        <h4 class="left">Blacklisting:</h4>
        <div class="left">
          <switch ng-model="blacklisting" class="green"></switch>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-7 blacklist">
      <ul ng-repeat="site in blacklist" class="list-group">
        <div class="list-group-item">{{site}} <button class="btn btn-sm btn-danger right" ng-click="deleteSite(site)">delete</button></div>
      </ul>
    </div>
  </div>
</div>
<textarea show-tail class="message-list" ng-disabled="true" ng-model="messageLog"></textarea>
