<div class="container-fluid">
  <div class="row top">
    <div class="col-xs-12 col-md-6 blacklist-container">
      <h3>Blacklist:</h3>
      <ul ng-repeat="site in blacklist" class="list-group">
        <div class="list-group-item">{{site}} <button class="btn btn-danger" ng-click="deleteSite(site)">delete</button></div>
      </ul>

      <form name="newSiteForm" class="blacklist-input">
        <label for="url">Add site to blacklist:</label>
        <div class="input-group">

          <div class="input-group-btn">
            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">{{url.protocol}} <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li ng-click="url.protocol = 'http://'">http://</li>
              <li ng-click="url.protocol = 'https://'">https://</li>
            </ul>
          </div>

          <input type="text" class="form-control" ng-model="url.domain" id="url" placeholder="[www/___.] ____.____" required>

          <span class="input-group-btn">
            <button type="button" class="btn btn-success" ng-click="addSite(url.protocol + url.domain);url.domain='';" ng-disabled="newSiteForm.$invalid">add</button>
          </span>

        </div>
      </form>
    </div>
    <div class="col-xs-12 col-md-6 cache-container">
    </div>
  </div>
</div>
<textarea show-tail class="message-list" ng-disabled="true" ng-model="messageLog"></textarea>
